.footer {
    height: 15%;
    width: 100%;
    background-color: #AFAFAF;
    display: flex;
    justify-content: center;
    position: static;
    bottom: 0; /* Hide footer initially */
    text-align: center;
    padding: 20px 0;
    flex-wrap: wrap;
    transition: bottom 0.3s; /* Smooth transition */
}

.footer.visible {
    bottom: 0; /* Show footer when visible */
}

.outsideDiv {
    width: 100%;
    display:inline-flex;
    justify-content: space-around;
    margin: 0 auto;
}

.testimonials, .contactDiv, .followDiv, .findUs {
    max-width: 20%;
    flex: 1;
    margin: 10px;
}

.testimonials {
    color: #205D24;
    word-wrap: break-word;
}

.contactDiv {
    color: #205D24;
}

.followDiv {
    color: #205D24;
}

.findUs {
    color: #205D24;
}

.h2 {
    color: #205D24;
    text-align: center;
}

.contactP, .a {
    color: #205D24;
    word-wrap: break-word;
}

.icons {
    margin-right: 5%;
}

.socialMedia {
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
}

.a{
    display: inline-block;
    margin: 0 5px;
}

.a:hover {
    color: #23a825;
}
