.header {
    width: 100%;
    height: 20%; /* Adjust the height as needed */
    background-color: #AFAFAF; /* Example background color */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; /* Fixed position */
    top: 0; /* Stick to the top */
    left: 0; /* Stick to the left edge */
    z-index: 1000; /* Ensure it stays on top */
  }
  
  .div {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .img{
    height: 8%;
    width: 8%;
    margin-left: 3%;
  }  
.h1 {
    font-size: large;
    font-weight: bold;
    color: #205D24;
    text-align: center;
    margin-left: 3%;
}
.nav{
    padding: 200%;
    text-align: center;
}